.projets{
}

.projet{
    padding-top: 0.5%;
    padding-bottom: 1%;
    font-family:sans-serif;
    color: black;
}

.img{
    min-width: 50%;
    max-width: 50%;
    height: auto;
}

.titre{
    text-align: center;
}

.imgetext{
    display: flex;
}

.intro{
    padding-left: 1%;
    line-height: 30px;
}

body{
    margin: 0%;
    background-color: #2c2f33;
    width: 100%;
    height: auto;
}

.projet:hover{
    background-color:grey;
}

.reseaux{
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
    text-align: center;
}

.fab{
    padding: 1%;
}

.mesinfos{
    display: flex;
    padding-left: 20%;
    padding-top: 1%;
    padding-bottom: 5%;
}

.pres{
    display: flex;
    max-width: 70%;
    padding: 2%;
    background-color: grey;
    border-style: solid;
    border-width: 5px;
    border-color: grey
}

h1{
    padding-right: 4%;
}

.textpres{
    padding: 2%;
}

.projetb{
    padding-top: 2%;
    padding-bottom: 1%;
    font-family:sans-serif;
    color: black;
}

.imgetextb{
    display: flex;
    flex-direction: row-reverse;
    background-color: grey;
}

.textdvpt{
    letter-spacing: 1px;
    line-height: 25px;
    max-width: 80%;
    background-color: grey;
    padding: 5% 10% 5% 10%;
}

.introb{
    padding-left: 5%;
}

.accueil{
    position: absolute;
    padding-left: 5%;
    padding-top: 1%;
    color: rgb(0, 68, 255);
}

.titreb{
    text-align:center;
}

.footertext{
    text-align: center;
    font-size: 10px;
    background-color: white;
    margin: 0%;
}

.reseau{
    color: white;
}

h3{
    background-color: grey;
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
}

.pdp{
    max-width: 100%;
    height: auto;
}

.cheat{
    padding: 2%;
}

@media (max-width: 600px) {
    .mesinfos{
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }
    .pres{
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .imgetext{
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }
    .img{
        min-width: 100%;
    }
    .imgetextb{
        max-width: 100%;
    }
    .accueil{
        visibility: hidden;
    }
    .textdvpt{
        max-width: 100%;
    }

    h1{
        font-size: 20px;
        max-width: 80%;
    }

    p{
        font-size: 13px;
    }
    .projet:hover{
        background-color:#2c2f33;
    }

    .pdp{
        max-width: 60%;
        height: auto;
    }

}